<!DOCTYPE html>
<html>
<head>
    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!--css and fonts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanummyeongjo.css">
    <!--jquery and  semantic scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
    <!--custom style-->
     <script>
      $(document).ready(function(){
          $('#query').keyup(function(){
              if($('#query').val()=='') {
                  $('#auto_result').html('')
                  return;
              }
              $.ajax({
                  type: 'POST',
                  url: '/auto/',
                  data: {
                      'flag': 'auto',
                      'q': $('#id_q').val(),
                  },
                  success : function(result) {
                      if(result['flag']){}
                          $("#search_result").html(string)
                  },error:function(error){
                    console.log(error);
                  }
                })
              })
          }); <!-- end-->
  </script>
  <style type="text/css">
    body > .grid {
    height: 100%;
  }
  </style>
</head>
<body>
<div class="ui middle aligned center aligned grid">
  <div class="column">
      <label class="ui huge yellow header" style="font-family:Lobster;font-size:6em;">Royal Load</label>
      <br>
      <br>
      <div class="ui icon input">
          <input type="text" placeholder="Search…" id="query" type="search"/>
          <i class="search icon"></i>
      </div>
      <br>
      <br>
      <div id="auto_result"></div>
  </div>
</div>
</body>
</html>