<!DOCTYPE html>
<html>
<head>
    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!--css and fonts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <!--jquery and  semantic scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
    <!--custom style-->
     <script>
     var dummy ={"subjects":[
       {
         "name" : "CS374"
         "type" : 1
       },
       {
         "name" : "CS330"
         "type" : 1
       },
       {
         "name" : "CS400"
         "type" : 1
       }]
     }
      $(document).ready(function(){
          $('#query').keyup(function(){
              if($('#query').val()=='') {
                  $('#auto_result').html('')
                  return;
              }
              $.ajax({
                  type: 'POST',
                  url: '/auto/',
                  data: {
                      'flag': 'auto',
                      'q': $('#id_q').val(),
                  },
                  success : function(result) {
                      if(result['flag']){}
                          $("#search_result").html(string)
                  },error:function(error){
                    console.log(error);
                  }
                })
              })
          }); <!-- end-->

    function after_result(result){
      $('#main').empty()
     let after_result = dummy;
     let header_div= $('<div>')
     header_div.attr('class',"ui blue center aligned header")
     header_div.attr('style',"font-size:3em; margin:auto ;width:50%")
     let current_div=$('<i class="left chevron icon"></i>'+
     '<div class="content"><i class="desktop icon"></i>'+
          result[0].name+'</div><i class="right chevron yellow icon"></i>')
     current_div.appendTo(header_div)
     header_div.appendTo('#main')
     let before_one=$('<div class="ui horizontal divider">다음 학기 들은 수업</div>')
     let before_two=$('<div class="ui horizontal divider">다다음 학기 들은 수업</div>')
     let before_one=$('<div class="ui horizontal divider">다다다음 학기 들은 수업</div>')
     before_one.appendTo('#main')
     grid_maker(result[1]).appendTo('#main')
     gird_maker(result[2]).appendTo('#main')

    }
    function before_result(result){

    }
    function whole_result(result){

    }
    function grid_maker(subresult){

    }

  </script>
  <style type="text/css">
  @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
  body > .pusher{
    padding-top: 65px;
    font-family: "Noto Sans KR",sans-serif;
    font-weight: bold;
  }
  #main {
    padding-top: 40px;
    padding-left : 20px
  }
  .ui .grid{
    font-size:1.5em;
  }


  </style>
</head>
<body>
<div class="ui large top fixed borderless menu">
      <div class="ui huge yellow header item" style="font-family:Lobster;">Royal Road  </div>
      <div class="ui middle aligned icon input item">
          <input type="text" placeholder="Search..." id="query" type="search"/>
          <i class="search icon"></i>
      </div>
      <p></p>
      <p></p>
</div>
<div class="pusher">
  <div id="main" class="ui fluid container">
    <div class="ui blue center aligned header" style="font-size:3em; margin:auto ;width:50%">
      <i class="left chevron icon"></i>
      <div class="content"><i class="desktop icon"></i>CS374 Intro to HCI</div>
      <i class="right chevron yellow icon"></i>
    </div>
    <div class="ui horizontal divider">다음 학기 들은 수업</div>
    <div class="ui grid">
      <div class="four wide column">
        <h2 class="ui icon header">
          <i class="trophy yellow icon"></i>
          <div class="content">
            CS330 운영체제 및 실험
            <div class="sub header">
              <a><-Before--|</a> <a>|--After-></a>
            </div>
          </div>
        </h2>
      </div>
      <div class="four wide column">
        <h2 class="ui icon header">
          <i class="trophy grey icon"></i>
          <div class="content">
            CS330 운영체제 및 실험
            <div class="sub header">
              <a><-Before--|</a> <a>|--After-></a>
            </div>
          </div>
        </h2>
      </div>
      <div class="four wide column">
        <h2 class="ui icon header">
          <i class="trophy brown icon"></i>
          <div class="content">
            CS330 운영체제 및 실험
            <div class="sub header">
              <a><-Before--|</a> <a>|--After-></a>
            </div>
          </div>
        </h2>
      </div>
      <div class="four wide column">
        <h2 class="ui icon header">
          <i class="foursquare icon"></i>
          <div class="content">
            CS330 운영체제 및 실험
            <div class="sub header">
              <a><-Before--|</a> <a>|--After-></a>
            </div>
          </div>
        </h2>
      </div>
    </div>
    <div class="ui horizontal divider">다다음 학기 들은 수업</div>
    <div class="ui grid">
      <div class="four wide column">
        <h2 class="ui icon header">
          <i class="trophy yellow icon"></i>
          <div class="content">
            CS330 운영체제 및 실험
            <div class="sub header">
              <a><-Before--|</a> <a>|--After-></a>
            </div>
          </div>
        </h2>
      </div>
      <div class="four wide column">
        <h2 class="ui icon header">
          <i class="trophy grey icon"></i>
          <div class="content">
            CS330 운영체제 및 실험
            <div class="sub header">
              <a><-Before--|</a> <a>|--After-></a>
            </div>
          </div>
        </h2>
      </div>
      <div class="four wide column">
        <h2 class="ui icon header">
          <i class="trophy brown icon"></i>
          <div class="content">
            CS330 운영체제 및 실험
            <div class="sub header">
              <a><-Before--|</a> <a>|--After-></a>
            </div>
          </div>
        </h2>
      </div>
      <div class="four wide column">
        <h2 class="ui icon header">
          <i class="foursquare icon"></i>
          <div class="content">
            CS330 운영체제 및 실험
            <div class="sub header">
              <a><-Before--|</a> <a>|--After-></a>
            </div>
          </div>
        </h2>
      </div>
    </div>
    <div class="ui horizontal divider">다다다음 학기 들은 수업</div>
    <div class="ui grid">
      <div class="four wide column">
        <h2 class="ui icon header">
          <i class="trophy yellow icon"></i>
          <div class="content">
            CS330 운영체제 및 실험
            <div class="sub header">
              <a><-Before--|</a> <a>|--After-></a>
            </div>
          </div>
        </h2>
      </div>
      <div class="four wide column">
        <h2 class="ui icon header">
          <i class="trophy grey icon"></i>
          <div class="content">
            CS330 운영체제 및 실험
            <div class="sub header">
              <a><-Before--|</a> <a>|--After-></a>
            </div>
          </div>
        </h2>
      </div>
      <div class="four wide column">
        <h2 class="ui icon header">
          <i class="trophy brown icon"></i>
          <div class="content">
            CS330 운영체제 및 실험
            <div class="sub header">
              <a><-Before--|</a> <a>|--After-></a>
            </div>
          </div>
        </h2>
      </div>
      <div class="four wide column">
        <h2 class="ui icon header">
          <i class="foursquare icon"></i>
          <div class="content">
            CS330 운영체제 및 실험
            <div class="sub header">
              <a><-Before--|</a> <a>|--After-></a>
            </div>
          </div>
        </h2>
      </div>
    </div>

    <br><br><br><br>

</div>
</body>
</html>
