@import url(//fonts.googleapis.com/css?family=Lobster:400);

body > .pusher{
  padding-top: 65px;
    font-weight: bold;
}
.ui .grid{
  font-size:1.5em;
}
#main {
  padding-top: 40px;
  padding-left : 20px
}

#mainsub{
  font-size:3em;
  margin:auto;
  width:50%
}
